nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 180, 175, 0.333);
  position: sticky;
  top: 0;
  padding: 1.5em;
}

nav .tittle {
  font-size: xx-large;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: block;
  border-radius: 2rem;
  background-color: rgb(86, 51, 212);
  padding: 0.5rem;
  margin: 0 0.5rem;
  padding: 0.8rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
